@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700");

.post-body {
    a, button, div {
        user-select: text;
    }

    a {
        color: rgb(255, 131, 0);
    }

    p {
        padding-bottom: 10px;
    }


    pre code {
        margin: 10px 0;
        padding: 20px;
    }

    code {
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 2px;
        color: rgb(204, 204, 204);
        background: rgb(57, 57, 57);
    }


    img {
        margin: 0;
        margin-bottom: 20px;
    }

    ul {
        li:before {
            content: '* ';
        }
    }

    ol {
        list-style-type: decimal-leading-zero;
    }

    h1, h2, h3, h4 {
        padding: 0;
        margin: 0;
        font-weight: 700;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 125%;
    }

    h6 {
        font-size: 75%;
    }

    ol {
        padding-left: 75px;
    }
}
