@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,600i|Playfair+Display:400,700');

// ---------------------------
// ----- DISQUS THEME --------

a {
    color: #FF8300;
}

// ---------------------------
// ------- ADD TO ANY --------

.a2a_default_style .a2a_count,
.a2a_default_style .a2a_svg,
.a2a_floating_style .a2a_svg,
.a2a_vertical_style .a2a_count,
.a2a_menu .a2a_svg {
    border-radius: 0 !important;
    font-family: 'Raleway', monospace;
    font-weight: 500 !important;
    // line-height: 2 !important;
}

.a2a_kit {
    // width: 288px;
    margin: 0 auto;
    float: right;

    &.a2a_kit-bottom {
        // margin-top: 25px;
    }
}

.post-body {
    a, button, div {
        user-select: text;
    }

    a {
        color: rgb(255, 131, 0);
    }

    p {
        padding-bottom: 10px;
    }


    pre code {
        margin: 10px 0;
        padding: 20px;
        color: rgb(204, 204, 204);
        background: rgb(57, 57, 57);
    }

    code {
        font-size: 14px;
        padding: 7px 10px;
        margin: 0 5px;
        border-radius: 2px;
        color: #5a5a5a;
        background: #f1f1f1;
    }


    img {
        display: block;
        max-width: 95%;
        margin: 0 auto;
        vertical-align: middle;
        margin-bottom: 20px;
    }

    ul {
        li:before {
            content: '* ';
        }
    }

    ol {
        list-style-type: decimal-leading-zero;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
        font-weight: 700;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 125%;
    }

    h6 {
        font-size: 75%;
    }

    ol {
        padding-left: 75px;
    }
}
