language: node_js
node_js:
  - node
#
# env:
#   - TIER=client
#   - TIER=server
#   - TIER=cache

cache:
  directories:
    - client/node_modules
    - client/elm-stuff
    - cache/node_modules
    - api/node_modules
    - sysconfcpus

before_script:
  - npm i -g elm yarn
  - |
      if [ ! -d sysconfcpus/bin ]; then
          git clone https://github.com/obmarg/libsysconfcpus.git;
          cd libsysconfcpus;
          ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;
          make && make install;
          cd ..;
      fi
#
script:
  - cd $TRAVIS_BUILD_DIR/client
  - yarn install
  - cd $TRAVIS_BUILD_DIR/cache
  - yarn install
  - cd $TRAVIS_BUILD_DIR/api
  - yarn install
#   - "$TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2;yarn build"

addons:
  ssh_known_hosts: dev.kuzzmi.com

before_deploy:
  - openssl aes-256-cbc -K $encrypted_b9eb5e1e460e_key -iv $encrypted_b9eb5e1e460e_iv -in $TRAVIS_BUILD_DIR/deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: rsync -rR --quiet --chmod=F550 $TRAVIS_BUILD_DIR/api/ kuzzmi@dev.kuzzmi.com:/var/www/app/dev.kuzzmi.com/api/ && rsync -rR --quiet --chmod=F550 $TRAVIS_BUILD_DIR/cache/ kuzzmi@dev.kuzzmi.com:/var/www/app/dev.kuzzmi.com/cache/
  on:
    branch: dev
