language: node_js
node_js:
  - node

env:
  - TIER=client
  - TIER=api
  - TIER=cache

cache:
  directories:
    - client/node_modules
    - client/elm-stuff
    - cache/node_modules
    - api/node_modules
    - sysconfcpus

before_install:
  - npm i -g yarn
  - |
      if [ ! -d sysconfcpus/bin ]; then
          git clone https://github.com/obmarg/libsysconfcpus.git;
          cd libsysconfcpus;
          ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;
          make && make install;
          cd ..;
      fi

install:
  - cd $TIER
  - yarn install

script:
  - "scripts/build_$TIER.sh $TRAVIS_BUILD_DIR $TIER; true"

addons:
  ssh_known_hosts: dev.kuzzmi.com

before_deploy:
  - openssl aes-256-cbc -K $encrypted_b9eb5e1e460e_key -iv $encrypted_b9eb5e1e460e_iv -in $TRAVIS_BUILD_DIR/deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: bash $TRAVIS_BUILD_DIR/scripts/deploy_$TIER.sh $TRAVIS_BUILD_DIR $TIER
  on:
    branch: dev

after_deploy:
  - ssh kuzzmi@dev.kuzzmi.com -i /tmp/deploy_rsa "/bin/bash -c \"source ~/.nvm/nvm.sh && pm2 restart all\""

